/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/05/2018, 07:44:35 PM
    Author     : SARA
*/
*{
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    height:100%;
    font-family: 'Cairo', cursive;
    background-color:#F0F0F0;
}
#app{
    box-sizing: border-box;
    width: 100%;
    max-width:2000px; 
    min-height: 100%;
    margin: 0 auto;
    background-color:#F2F2F2;
}
.datos-pedido::-webkit-input-placeholder { color:white; } /* WebKit */
.datos-pedido::-moz-placeholder { color: white; }
.txtBuscaVent::-webkit-input-placeholder { color:white; } /* WebKit */
.txtBuscaVent::-moz-placeholder { color: white; }

input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button ,input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
#contenerdor-padre{
    box-sizing: border-box;
    width: 100%;
    min-height:1000px;
    color: white;
    /*overflow: hidden;*/
}
#contenedor-items-menu-sistema{
    box-sizing: border-box;
    width:100px;
    height: 100%;
    position: fixed;
    left:0;
    z-index:3;
}
.prueba{
    margin-left:3.5px;
}
.cont-lista-pedido{
    overflow: auto;
    height: 200px;
    box-sizing: border-box;
    width: 98%;
    margin:0 auto;
    text-align:left;
}
.datos-cli,#contenedor-frmlogin input{
    box-sizing: border-box;
    width: 98%;
    border:solid 2px #C55A11;
    height: 40px;
    padding: 5px;
    margin-bottom: 5px;
}
input,select,label{
     font-family: 'Cairo', cursive;
}
.cont-lista-pedido-hijo{
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    
}
.txtBuscaVent,.datos-pedido,select{
    height: 30px;
    text-align: center;
    background-color: #0078D7;
    color:white;
    border: none;
}
.cbx{
   width: 80px;
}
.unidades{
  width: 50px;
}

.precio-unitario{
    width: 50px;

}
.fecha-entrega{
    width: 120px;

}
.detalles{
    width: 390px;
    
}
.more{
    width: 100px;
    margin: 0 auto;
}
.total{
    width: 50px;
}
.more:hover{
    cursor: pointer;
}
.txtelimina{
    width: 250px;
    margin: 0 auto;
}

.btn{
  background-color:#5f5f5f;
  color: #F1F1F1;
  padding: 2px;
  border: none;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
      
}

.btn:hover{
    cursor: pointer;
}
.lbl-A{
    font-size: 30px;
    position: absolute;
    padding-bottom: 0px;
    left: 20px;
    bottom: 0px;
}

.items-menu-sistema{
    box-sizing: border-box;
    padding:5px;
    max-width:70px;
    height:60px;
    color:black;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 10px;    
    text-align: center;
    background-color: #F2F2F2;
}
.items-menu-sistema img{
    max-width:50px;
    margin: 0 auto;
    filter:contrast(0.8);
}
.items-menu-sistema:hover{
    cursor:pointer;
}
#cerrarsesion{
    position:relative;
    width: 60px;
    z-index: -1;
    margin-top:-30px;
    margin-left: 0;
    margin-right: auto;
    background-color: #F2F2F2;
    transition: all 0.6s;
}
#contenido{
    box-sizing: border-box;
    margin-left: 110px;    
    /*overflow: hidden;*/
    position: relative;
    min-height:1000px;
}
.pedidos-contenido{
    float: left;
    background-color: #262626;
    margin: 2px;
    max-width: 472px;
    min-width: 24.5%;
    color:#F0F0F0;
    text-align: center;
}
.opcionesAdmin:hover,.pedidos-contenido:hover{
    cursor: pointer;
   /* background-color: rgba(255,255,255,0.7)*/
}
.opcionesAdmin{
    background-color: #3F51B5;
    margin: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;    
    width: 100%;
    color:#F0F0F0;
    text-align: center;
}
.cont-opcionesAdmin{
    overflow: auto;
       float: left;
       width: 100%;
}
.frm-admin{
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    min-width: 49.8%;
     max-width: 49.8%;
}

.estado{
    background-color:#4267B2;
}
.padre-ventanas,#modlaPedido{
    min-height:100%;
    min-width:100%;
    background-color:rgba(0,0,0,0.8);
    color: black;
    position:absolute;
    z-index: 5;
    display: none;
    text-align: center;
}
#ventana-buscar,#ventana-listar,#ventana-modificar,#ventana-eliminar,#ventana-registrar{
    position: relative;
     /*margin-top: 10%;
    margin-left: 25%;*/
    top: 100px;
    margin: 0 auto;
    max-width: 800px;
    max-height:500px;
    background-color: #FFFFFF;
    display: none;
    padding-bottom: 10px; 
}

#contenedor-lista-ventas-fecha th,#contenedor-lista-ventas-vendedor th,#caja-pedidoB th,#lista-users th,#caja-usu th, #caja-pedido th{
    background-color: #1B242F;
    color: white;
    padding: 2px;
}
 #contenedor-lista-ventas-fecha table,#contenedor-lista-ventas-vendedor table ,#caja-pedidoB table,#lista-users table,#caja-usu table,#caja-pedido table{
    margin: 0 auto;
    text-align: center;
    
}
#caja-pedidoB,#caja-usu ,#caja-pedido h3{
    font-size: 12px;
}
#modlaPedidoHijo{
   position: relative;
   padding-top: 50px;
   padding-bottom: 50px;
}
#modlaPedidoHijo table{
    margin: 0 auto;
}
#contenedor-lista-ventas-fecha td,#contenedor-lista-ventas-vendedor td , #modlaPedidoHijo td{
    /*border: solid 2px #E9E8E2;*/
    background-color: white;
    color: black;
    padding: 5px;
}
#modlaPedidoHijo th{
    background-color: #1B242F;
    color: white;
}
.efecto:hover{
    cursor: pointer;
    background-color: #96FF96;
}
#cont-logo{
   max-width: 300px;
   margin: 0 auto;
}
#logotipo{
    max-width: 300px;
    margin: 0 auto;
}
#contenedor-login{
    margin: 0 auto;
    max-width: 400px;
    height: 50%;
    position: relative;
    top: 25%;
    background-color: white;
    -webkit-box-shadow: 3px 2px 25px 1px rgba(128,128,128,1);
    -moz-box-shadow: 3px 2px 25px 1px rgba(128,128,128,1);
    box-shadow: 3px 2px 25px 1px rgba(128,128,128,1);
}
#contenedor-frmlogin{
    max-width: 300px;
    margin: 0 auto;
    /*border: solid 1px red;*/
}
#contenedor-frmlogin form{
    max-width: 250px;
    margin:0 auto;
    /*border: solid 1px blue;*/
    box-sizing:border-box;
    padding-top: 0px; 
}
#contenedor-frmlogin div {
     width: 100%;
     display:flex;
     /*border: solid 1px green;*/
}
#contenedor-frmlogin div input{
    width: 48%;
    border:0;
    margin: 2px;
    background-color: #87189D;
    color: white;
}

#mensaje-error-login{
    position: relative;
    top: 240px;
    /*border: solid 1px blue;*/
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    color:black;
    background-color: white;
    padding-bottom: 5px;
}

.btn-volver-login{
    box-sizing: border-box;
    width:90%;
    margin: 0 auto;
    padding: 5px;
    background-color:#87189D;
}

#mensaje-error-login a{
    text-decoration: none;
    color: white;
}



 